body {

    background-color: #f1f5f9;

}

.card {

    border-radius: 18px;

}

.card-info {

    background: linear-gradient(
        135deg,
        #0ea5e9,
        #2563eb
    );

    color: white;

}

.card-success {

    background: linear-gradient(
        135deg,
        #22c55e,
        #15803d
    );

    color: white;

}

.card-danger {

    background: linear-gradient(
        135deg,
        #ef4444,
        #b91c1c
    );

    color: white;

}

.card-warning {

    background: linear-gradient(
        135deg,
        #f59e0b,
        #d97706
    );

    color: white;

}

.navbar {

    padding: 18px;

    <div class="d-flex align-items-center gap-3">

  <span id="nomeUsuario"></span>

  <button
    onclick="logout()"
    class="btn btn-danger btn-sm">

    Sair

  </button>

</div>

}

table {

    border-radius: 10px;

    overflow: hidden;

}

h1 {

    font-weight: bold;

}

.grafico-container {

    max-width: 350px;

    margin: auto;

}

.login-container {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}

.login-card {

    background: white;

    padding: 40px;

    border-radius: 20px;

    width: 350px;

    box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.login-card h1 {

    text-align: center;

}

.login-card p {

    text-align: center;

    color: gray;

    margin-bottom: 20px;

}

.login-card input {

    width: 100%;

    padding: 12px;

    margin-bottom: 10px;

    border: 1px solid #ddd;

    border-radius: 10px;

}

.login-card button {

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    cursor: pointer;

}

#erro {

    margin-top: 10px;

    color: red;

    text-align: center;

}